
<h1>Log In</h1>

<div>
<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>
  <%end%><br>
  New user?<br>
  <div id="signup-link">
  <%= link_to 'Sign up now!', profile_new_path %>
</div>
</div
