<h2><td>Name:</td> <td><%= text_field_tag :name %></td></h2>
<h2><td>Phone Number:</td> <td><%= text_field_tag :phone_number %></td></h2>

<%= link_to 'Save', profile_path %> |
<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profile_path %>
