<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="holder">
    <h1>Sign up</h1>
    <%= form_for(@commuter) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

    <table class="signup-table">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.email_field :email%></td>
      </tr>

      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
      </tr>

      <tr>
        <td><%= f.label :password_confirmation, "Confirmation" %></td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>

      <tr>
        <td></td>
        <td><%= f.submit "Create my account" %></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>
