<div id="profile-pic">
<img src="/assets/default_pic.png" alt="" height="200" width="200">
</div>



<div class="holder">
  <div id="welcome">
    <% if current_user%><br>
    Welcome, <%= current_user.name  %>!
    <%end%>
  </div><br>

  <div class="search-link">
    <button class="search-bttn"><%= link_to 'Destination Search', routes_path %></button>
  </div><br>


  <div class="appointments">
    <button class="appts"><%= link_to 'Set an alarm for your route departure!', appointments_new_path %></button>
  </div>
</div>

<div id="map_fave">
</div><br>


<!-- <div id="profile-info"> -->
<table id="profile-info">
<tr>
<td><h3>Name:</h3></td> <td><%= current_user.name %></td>
</tr>
<tr>
<td><h3>Phone Number:</h3></td> <td><%= current_user.phone_change %></td>
</tr>
<tr>
<td><h3>Email:</h3></td> <td><%= current_user.email %></td>
</tr>
</table>
