<h1 >Profile Page</h1>

<img src="/assets/default_pic.png" alt="" height="200" width="200">

<h2>Name:</h2>
<h2>Phone Number:</h2>
<h2>Email:</h2>


<div id="welcome">
<% if current_user%>
Welcome, <%= current_user.name  %>!
<%end%>
</div>
<br>

<div class="search-link">
<%= link_to 'Search', routes_path %>
</div>
<br>

<div class="appointments">
  <button class="dropbtn-appts">Set an alarm for your route departure!</button>
  <div id="myApptsDropdown" class="appts-content">
    <div class="appts-form">
      <%= form_tag '/appointments/new' do %>
      <p>What time would you like to be notified to leave for your commute?</p>
      <table>
        <tr>
          <td>Name:</td> <td><%= text_field_tag :name %></td>
        </tr>
        <tr>
          <td>Phone Number:</td> <td><%= text_field_tag :phone_number %></td>
        </tr>
        <tr>
          <td>Time:</td> <td><%= text_field_tag :time %></td>
        </tr>
        <tr>
          <td></td>
          <td><%= submit_tag "Submit" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
<br>

<div id="map_fave"></div>
<br>
<div style="height: 500px; width: 500px" id="map_recent"></div>
