<div class="posts">
  <li id="micropost-<%= micropost.id %>">
  <!-- <%= link_to gravatar_for(micropost.commuter, size: 50), micropost.commuter %> -->

  <!-- <span class="commuter"><%= link_to micropost.commuter.name, micropost.commuter %></span> -->
  <span class="content"><h3><ul><%= micropost.content %></ul></h3></span>
  <span class="timestamp">
  <h3>Posted <%= time_ago_in_words(micropost.created_at) %> ago.</h3>
  </span>
</li>
</div>
