<div class="holder">

  <h1>Where Do You Want To Go?</h1>

  <%= form_for(@search) do |f| %>
  <div class="field">
    <table style="margin: auto;">
      <tr>
        <td><%= f.label :start_pt, "Origin:" %></td>
        <td><%= f.text_field :start_pt %></td>
      </tr>
      <tr>
        <td><%= f.label :end_pt, "Destination:" %></td>
        <td><%= f.text_field :end_pt %></td>
      </tr>
      <tr>
        <td><%= f.label :arrive_by, "Arriving at:" %></td>
        <td><%= f.datetime_field :arrive_by %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Submit" %></td>
      </tr>
    </table>
  </div>
  <%end%>
</div>
