<!DOCTYPE html>
<html>
<head>
  <title>Wheelz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFHwXOAx3AMwsD4zjr4vx_cPF_wVk2h2U"></script>
  <%= csrf_meta_tags %>
</head>

<body id="background" class="<%= controller_name %> <%= action_name %>">

  <header class="nav" id="top" role="banner">
    <nav id="navbar"
    class="collapse navbar-collapse">
    <ul>
      <li>
        <a style="color:white" href="../">Home</a>
      </li>
      <li>
        <a style="color:white" href="../profile">Profile</a>
      </li>
      <li>
        <a style="color:white" href="../profile/search">Search</a>
      </li>
      <li>
        <a style="color:white" href="../about">About</a>
      </li>
    </ul>


    <div class="dropdown">
      <button class="dropbtn">|||</button>
      <div id="myDropdown" class="dropdown-content">

        <% if current_user%>
        Signed in as <%= current_user.name %>
        <button class="logout-button"><%= link_to 'Logout', logout_path %></button>
        <% else %>
        <%= form_tag '/login' do %>
        <%end%>
        <%end%>

        <% if !current_user %>
        <button class="login">Login</button>
        <div class="login-form">
          <%= form_tag '/login' do %>
          Email: <%= text_field_tag :email %>
          Password: <%= password_field_tag :password %>
          <%= submit_tag "Submit" %>
          <%end%>
        </div>

        <button class="signup">Sign Up</button>
        <div class="signup-form">
          <%= form_for :commuter, url: '/profile/new' do |f| %>
          Name: <%= f.text_field :name %>
          Email: <%= f.text_field :email %>
          Password: <%= f.password_field :password %>
          Passworrd Confirmation: <%= f.password_field :password_confirmation %>
          <%= f.submit "Submit" %>
          <%end%>
        </div>
        <%end%>
      </div>
    </div>
  </nav>

</header>


<div class="container">
  <% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</div>
<%= yield %>

<footer>
  <%= link_to "MOBILE SITE", :controller => "home", :action => "set_layout", :mobile => "1" %>
</footer>
</body>
</html>
