<!DOCTYPE html>
<html>
<head>
  <title>Wheelz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
   Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
   <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', profile_new_path %>
  <% end %>

  <!-- <script type="text/javascript" src="application.js">
  </script>

  <link rel="stylesheet" href="application.css" charset="utf-8"> -->


  <header class="nav" id="top" role="banner">
      <nav id="navbar"
 class="collapse navbar-collapse">
 <ul>
   <li>
     <a href="../">Home</a>
   </li>
   <li>
     <a href="../profile">Profile</a>
   </li>
   <li>
     <a href="../profile/search">Search</a>
   </li>
   <li>
     <a href="../profile/new">Sign Up</a>
   </li>
   <li>
     <a href="../login">Login/Logout</a>
   </li>
 </ul>


 <div class="dropdown">
  <button class="dropbtn">|||</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
  </div>
</div>
 </nav>
 <!-- ::after -->

 <!-- ::after -->
 </header>




<%= yield %>

</body>
</html>
